*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ::selection {
  background-color: var(--highlighted-background);
  color: var(--highlighted-text);
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  line-height: 1.6;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h2,
h3,
section {
  scroll-margin-top: 60px;
}
